
.formLogin{
;
  height:400px;
  border:1px solid rgba(230, 230, 230, 0.3);
  border-radius:10px;
  width:90%;
  margin:13% auto;
  box-shadow: 0px 0px 40px rgba(26, 173, 25,.1);
  .line-box{
    display: flex;
    font-size: 32px;
    height: 100px;
    line-height: 100px;
    width: 90%;
    margin: auto;
    font-size: 32px;
    border-bottom:1px solid #ECECEC;
    >.name{
      width: 120px;
      color: rgba(26, 173, 25, 0.9);
      font-size: 28px;
      // color:rgba(26, 173, 25, 0.6);
    }
    input{
      height:100%;
      font-size: 24px;
    }
  }

  .line-box:nth-child(2){
    border-bottom: none;
  }
  .loginBtn{
    width: 90%;
    margin: 40px auto;

    button{
      font-size: 28px;
    }
  }
}

