.panel__content{
  height: calc(100vh - 5.5rem);
}
.classevaluationContent{
  width: 98%;
  margin:0  auto ;
  height: 100%;
  padding-bottom: 30px;
  .title{
    display: block;
    height: 70px;
    line-height: 70px;
    width: 40%;
    margin-bottom: 2px;
  }

}
.tab-content {
  padding: .4rem .6rem;
  font-size: 24px;
  box-sizing: border-box;
}
.panel__title{
  padding: .6rem;
  font-size: 28px;
}
.at-tabs__body, .tabs-pane--active{
  height: 100%;
}
.radio-list__radio{
  position: relative;
  left: 0;
  height: .1rem;
  display: inline;
  margin-right: 10px;
}
